<link rel="stylesheet" href="styles.css">
<h2>Contact Us</h2>

<p>{{ controller.message }}</p>

<form method="get">
    <li><label for="fullName">Full Name</label></li>
    <li><input type="text" ng-model="fullName" id="fullName"></li>
    <li><label for="message">Message</label></li>
    <li><textarea name="message" id="" cols="30" rows="10"></textarea></li> 
</form>

<footer>
        <p>Please find us at: <address> 1586 North Flame Drive, Phoenix AZ 85000</address></p>
        <p>Phone: 456-564-2594</p>
        <p>E-mail: website@this.com</p>
</footer>