<!DOCTYPE html>
<html>  
<head>      
        <link rel="stylesheet" href="style.css">    
</head>   
<body class="dealership-inventory">


  <h1>Inventory</h1>

  <table class="table">
      <tr>
          <th>Year</th>
          <th>Make</th>
          <th>Model</th>
          <th>Price</th>
      </tr>

      <tr ng-repeat="car in controller.cars">
          <td> {{car.Year}} </td>
          <td> {{car.Make}} </td>
          <td> {{car.Model}} </td>
          <td> {{car.Price | currency}} </td>
      </tr>

  </table>


<p>{{ message }}</p>

</body>
</html> 

<!-- <p>{{ controller.message }}</p>
<div ng-repeat = "car in cars">{{controller.cars}}</div> -->